* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: black 4px solid;
    border-radius: 20px;
    min-width: 100px;

}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

.column4 {
    order: 4;
}

.edit-form{
    margin: 200px;
}

.created-form{
    margin-left: 20px;
    margin-top: 20px;
}

.created-form > p{
    margin-top: 10px;
}

.edit-form > p{
    margin-top: 20px;
}

.card{
    min-width: 200px;
    margin-bottom: 10px;
}

.card > div{
    border: 1px solid blueviolet;
    padding: 5px;
}

.reason-form {
    margin: 200px;
}

.reason-form > p{
    margin-top: 20px;
}

.completed {
    border: 3px solid green;
}

.completed > div{
    border: 1px solid green;
}

.nocompleted {
    border: 3px solid red;
}

.nocompleted > div{
    border: 1px solid red;
}